<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="plugin/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body background="img/back2.jpg" style=" background-repeat:no-repeat ; background-size:100% 100%; background-attachment: fixed;">
	
	<div class="wrap">
			<div class="container">
			   <div class="form-horizontal pri_form-horizontal">
			   	<div style="position:absolute;left:405px;">
			   		<label style="color:#C69566; font-size: 55px">K8S Network Storage Helper</label> 
			   	</div>
			   	
			   	<div style="position:absolute;left:455px;top:253px">
					<img src="img/k8s.png" style="width:180px;height:180px;" />
				</div>
			   	<div style="position:absolute;left:721px;top:292px">
			   		<div class="form-group">
						<a class="serviceLink" href="html/create.html"  target="_blank" style="font-size:35px;">CREATE SERVICE</a>
					</div>
					<div class="form-group">
						<a class="serviceLink" href="html/update.html"  target="_blank" style="font-size:35px;">UPDATE SERVICE</a>
					</div>
			   	</div>
			   	<div style="position:absolute;left:1318px;top:464px">
					<img src="img/kl.png" style="width:200px;height:200px;" />
				</div>

				<div style="position:absolute;left:655px;top:620px">
			   		<label style="color:#C69566; font-size: 25px">@ Ericsson Team Kylin</label> 
			   	</div>
			</div>
		</div>
	</div>
	
</body>